#main { 
    max-width: fit-content;
    max-height: 100%;
    margin: 30px auto;
    padding: 15px;
    background-color: #ddd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}
#title{
   text-align: center;
}

#main > p{
    text-align: center;
}
#img-div{

    max-height:100%;
    text-align: center;
    background-color: white;
    
}
#img-div > figcaption {
    text-align: center;
}
#image{
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    margin-left: 200px;
}
#img-div > figcaption{
padding-bottom: 10px;
}

#tribute-info{
    max-width: 100%;
    max-height: 100%;
 margin: auto;
}

 
#tribute-info > h2{
    text-align: center;
    padding: 20px;
}
#tribute-info > ul li{
    line-height: 25px;
    max-width: 50%;
   margin: 0 auto;
}
 h3 {
    text-align: center;
    margin: 0 auto;
 }
 
 #tribute-info > i{ 
     margin-left: 410px;
 
 }



